.header{
    width:100%; 
    position: absolute;
    height: 100%;
    padding:0;
    margin:0;
    border:0;
    z-index: 9999;
    top:0px; 
    left:0px;
  }
  .footer {
    position: absolute;
    top:99%;
    width:100%; 
    bottom:0;
    padding:0;
    margin:0;
    border:0;
    height: 850px; 
  }

  .test{
    position: absolute;
    top:70%;
  }